@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:5%;
    text-align: center;
}
header{
    background-color:#8D4C4C;
    color:white; 
    border: solid 1px black;
    border-radius: 5px;
}
main{
    background-color: #E27A7A;
    border: solid 1px black;
    border-radius: 5px;
}
footer{
    background-color: #E2E27A;
    border: solid 1px black;
    border-radius: 5px;
}
body{
    background-color: #c66b6b80;
}
button{
    border: solid 2px black;
    border-radius: 7px; 
    transition-duration: 0.4s;
    background-color:#dfdfcf ;
    width:5rem;
}
button:hover {
    border: solid 2px rgb(95, 92, 92);
    border-radius: 7px;
    background-color:#c59d61 ; 
  }

.addedPeople{
border: solid 2px black;
    border-radius: 5px; 
    background-color: #f39274;
} 
.peopleList{
    border: solid 2px black;
    border-radius: 5px;
    background-color: #f1b8a7  
}